<% layout('layouts/boilerplate') -%>
<h1>New Post!</h1>
<form action="/posts" method="POST" enctype="multipart/form-data">
    
    <div><input type="text" name="post[title]" placeholder="Title"></div><br>
    <div><input type="number" step="100" name="post[price]" placeholder="Price"></div><br>
    <div>
        <input type="file" accept="images/*" name="images" multiple />
    </div>
    <div><textarea name="post[description]" placeholder="Description"></textarea></div><br>
    <div><input type="text" name="post[location]" placeholder="Location"></div><br>
    <input type="submit">
</form>
